html {
  font-family: sans-serif;
}

textarea, .post {
  padding: 1em;
  background-color: #f2f1f0;
  border: none;
  box-sizing: border-box;
  font-size: 1em;
}

button {
  border: none;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
}

#header {
  display: flex;
  justify-content: space-between;
}

#main {
  position: relative;
  top: -10em;
}

img {
  height: 10em;
}

.img {
  margin: auto auto;
  text-align: center;
}

.sign-in {
  margin-left: 2em;

}

.search-container {
  margin-right: 2em;
}

/*#username, #email, #password {
  padding: 1em;
  background-color: #f2f1f0;
  border: none;
  box-sizing: border-box;
  margin: 0.5em 0;
  font-size: 0.8em;
}*/

#search-button {
  height: 2.2em;
  float: right;
  margin-right: 0.2em;
}

.entry-container {
  margin: auto auto;
  text-align: center;
}

#submit-button {
  margin-left: 23em;
  margin-top: 1em;
}

h2, h1, #post-container {
  text-align: center;
}

.post {
  margin: 1em;
}

#post-container {
  width: 35em;
  margin: auto auto;
}

.hidden {
  visibility: hidden;
}
