html {
  font-family: sans-serif;
}

textarea, #post-container {
  padding: 1em;
  background-color: #f2f1f0;
  border: none;
  box-sizing: border-box;
  font-size: 1em;
}

.entry-container {
  margin: auto auto;
  text-align: center;
}

button {
  margin-left: 20em;
}

h2, h1, #post-container {
  text-align: center;
}

#post-container {
  width: 30em;
  height: 5em;
  margin: auto auto;
}

img {
  width: 10em;
}

#img {
  text-align: center;
  margin: 0 auto -1em auto;
}
